.number-case {
  font-size: 2.5em;
  font-weight: bold;
  color: #555;
}

.case-addition {
  font-family: 'Poppins';
  font-size: 0.8em;
}

.bad {
  color: #F45866;
}

.good {
  color: #6CC551;
}

.rate-title, .update-at {
  font-family: "Poppins", sans-serif;
}

.rate-data {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}