.search-bar-wrapper {
  display: flex;
  background-color: #4b4b4b;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  input {
    font-family: "Poppins";
    padding: 5px 10px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
  }
  button {
    background-color: #fff;
    color: #555;
  }
  .search-result {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    top: 100%;
    border: 1px solid #444;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    ul {
      padding: 0 0 10px;
      margin: 0;
      list-style: none;
      li {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

