.search-bar-wrapper {
  display: flex;
  background-color: #172941;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
  background-color: #fafafa;
  input {
    font-family: "Poppins";
    padding: 5px 10px;
    font-size: 1em;
    background: none;

  }
  button {
    background: none;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-result {
    position: absolute;
    left: 10px;
    right: 34px;
    background-color: #fafafa;
    top: 110%;
    box-shadow: 1px 2px 4px #23204162;
    border-radius: 5px;
    box-sizing: border-box;
    ul {
      padding: 0 0 10px;
      margin: 0;
      list-style: none;
      li {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

