.loading {
  color: #eee;
  user-select: none;
}

.number-case {
  font-size: 2.5em;
  font-weight: bold;
}

.case-addition {
  font-family: 'Poppins';
  font-size: 0.8em;
}

.bad {
  color: red;
}

.good {
  color: green;
}